<main>
	<h1>New animal</h1>

	<form th:object="${animal}" th:method="POST" th:action="save">
		<input type="hidden" th:field="*{id}">

		<div>
			<label for="species">Species: </label>
			<input th:field="*{species}" type="text" id="species" required>
		</div>

		<div>
			<label for="gender">Gender: </label>
			<input th:field="*{gender}" type="text" id="gender" required>
		</div>

		<div>
			<label for="name">Name: </label>
			<input th:field="*{name}" type="text" id="name" required>
		</div>

		<div>
			<label for="color">Color: </label>
			<input th:field="*{color}" type="text" id="color" required>
		</div>

		<div>
			<button type="submit">
				Save
			</button>

			<button type="button" onclick="window.history.back">
				Cancel
			</button>
		</div>
	</form>
</main>