<main th:replace="~{layout::layout (~{::main})}">
	<a th:href="@{/animals}" class="back">
		Back
	</a>

	<h1>Edit animal</h1>

	<form th:object="${animal}" th:method="POST" th:action="@{/animals/save}">
		<input type="hidden" th:field="*{id}">

		<label>
			<span>Name</span>

			<input th:field="*{name}" type="text" required>
		</label>

		<label>
			<span>Species</span>

			<!-- Todo: select -->
			<!-- <input th:field="*{species}" type="text" required> -->
		</label>

		<label>
			<span>Gender</span>

			<!-- Todo: radio buttons -->
			<!-- <input th:field="*{gender}" type="text" required> -->
		</label>

		<label>
			<span>Color</span>

			<!-- Todo: color input -->
			<input th:field="*{color}" type="text" required>
		</label>

		<button type="submit">
			Save
		</button>
	</form>
</main>