<main>
	<h1>Animals</h1>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Species</th>
				<th>Gender</th>
				<th>Name</th>
				<th>Color</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="animal : ${animals}">
				<td th:text="${animal.id}">
				<td th:text="${animal.species}">
				<td th:text="${animal.gender}">
				<td th:text="${animal.name}">
				<td th:text="${animal.color}">
				<td>
					<a th:href="edit">Edit</a>

					<!-- Todo: delete -->
				</td>
			</tr>
		</tbody>
	</table>
</main>