<main th:replace="~{layout::layout (~{::main})}">
	<h1>Animals</h1>

	<a th:href="@{/animals/new}">
		Create new
	</a>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Species</th>
				<th>Gender</th>
				<th>Color</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="animal : ${animals}">
				<td>
					<code th:text="${animal.id}">
				</td>
				<td th:text="${animal.name}">
				<td th:text="${animal.species}">
				<td th:text="${animal.gender}">
				<td th:text="${animal.color}">
				<td class="actions">
					<a th:href="@{/animals/{id}(id=${animal.id})}">Edit</a>

					<form th:object="${animal}" th:method="DELETE" th:action="@{/animals/delete}">
						<input type="hidden" id="id" name="id" th:value="*{id}">

						<button type="submit">
							Delete
						</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</main>