<main th:replace="~{layout::layout (~{::main})}">
	<a th:href="@{/animals}" class="back">
		Back
	</a>

	<h1>New animal</h1>

	<form th:object="${animal}" th:method="POST" th:action="@{/animals/save}">
		<input type="hidden" th:field="*{id}">

		<label>
			<span>Name</span>

			<input type="text" th:field="*{name}" required>
		</label>

		<label>
			<span>Species</span>

			<select th:field="*{species}">
				<option th:each="species : ${species}" th:value="${species.id}" th:text="${species}">
			</select>
		</label>

		<label>
			<span>Gender</span>

			<label th:each="gender : ${genders}">
				<input type="radio" th:field="*{gender}" th:value="${gender.name}" th:text="${gender}" required>
			</label>
		</label>

		<label>
			<span>Color</span>

			<input type="text" th:field="*{color}" placeholder="#FAF7EB" required>
		</label>

		<button type="submit">
			Save
		</button>
	</form>
</main>