<main th:replace="~{layout::layout (~{::main})}">
	<h1>Species</h1>

	<a th:href="@{/species/new}">
		Create new
	</a>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Common name</th>
				<th>Latin name</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="species : ${species}">
				<td>
					<code th:text="${species.id}">
				</td>
				<td th:text="${species.commonName}">
				<td>
					<i th:text="${species.latinName}">
				</td>
				<td class="actions">
					<a th:href="@{/species/{id}(id=${species.id})}">Edit</a>

					<form th:object="${species}" th:method="DELETE" th:action="@{/species/delete}">
						<input type="hidden" id="id" name="id" th:value="*{id}">

						<button type="submit">
							Delete
						</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</main>