<main th:replace="~{layout::layout (~{::main})}">
	<a th:href="@{/species}" class="back">
		Back
	</a>

	<h1>New species</h1>

	<form th:object="${species}" th:method="POST" th:action="@{/species/save}">
		<input type="hidden" th:field="*{id}">

		<label>
			<span>Common name</span>

			<input type="text" th:field="*{commonName}" required>
		</label>

		<label>
			<span>Latin name</span>

			<input type="text" th:field="*{latinName}" required>
		</label>

		<button type="submit">
			Save
		</button>
	</form>
</main>