<main>
	<h1>Edit species</h1>

	<form th:object="${species}" th:method="POST" th:action="save">
		<input type="hidden" th:field="*{id}">

		<div>
			<label for="common-name">Common name: </label>
			<input th:field="*{commonName}" type="text" id="common-name" name="common" required>
		</div>

		<div>
			<label for="latin-name">Latin name: </label>
			<input th:field="*{latinName}" type="text" id="latin-name" required>
		</div>

		<div>
			<button type="submit">
				Save
			</button>

			<button type="button" onclick="window.history.back">
				Cancel
			</button>
		</div>
	</form>
</main>