<!DOCTYPE html>

<html th:fragment="layout (template)" xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
		<title>Thymeleaf Demo</title>
	</head>

	<body>
		<header>
			<a th:href="@{/}">Home</a>
			<a th:href="@{/persons}">Persons</a>
			<a th:href="@{/animals}">Animals</a>
			<a th:href="@{/species}">Species</a>
		</header>

		<main>
			<th:block th:include="${template}">
		</main>
	</body>
</html>