<main th:replace="~{layout::layout (~{::main})}">
	<a th:href="@{/persons}" class="back">
		Back
	</a>

	<h1>Edit person</h1>

	<form th:object="${person}" th:method="POST" th:action="@{/persons/save}">
		<input type="hidden" th:field="*{id}">

		<label>
			<span>First name</span>

			<input type="text" th:field="*{firstName}" required>
		</label>

		<label>
			<span>Last name</span>

			<input type="text" th:field="*{lastName}" required>
		</label>

		<label>
			<span>Age</span>

			<input type="number" th:field="*{age}" required>
		</label>

		<button type="submit">
			Save
		</button>
	</form>
</main>