<main th:replace="~{layout::layout (~{::main})}">
	<h1>Persons</h1>

	<a th:href="@{/persons/new}">
		Create new
	</a>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Age</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="person : ${persons}">
				<td>
					<code th:text="${person.id}">
				</td>
				<td th:text="${person}">
				<td th:text="${person.age}">
				<td class="actions">
					<a th:href="@{/persons/{id}(id=${person.id})}">Edit</a>

					<form th:object="${person}" th:method="DELETE" th:action="@{/persons/delete}">
						<input type="hidden" id="id" name="id" th:value="*{id}">

						<button type="submit">
							Delete
						</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>

	<h2>Other actions</h2>

	<form th:method="POST" th:action="@{/persons/generate}">
		<input type="hidden" name="count" value="15">

		<button type="submit">
			Generate 15 persons
		</button>
	</form>

	<form th:method="DELETE" th:action="@{/persons/delete-without-pets}">
		<button type="submit">
			Delete persons without pets
		</button>
	</form>
</main>